examples/example-flow.json
[
    {
        "id": "bf81f0f7d78829f5",
        "type": "ST-On/Off",
        "z": "2d54600e340a6970",
        "name": "Лампа",
        "device": "b696fd562f8909d6",
        "x": 660,
        "y": 100,
        "wires": [
            [
                "deb4f46fbdae9c78"
            ]
        ]
    },
    {
        "id": "deb4f46fbdae9c78",
        "type": "debug",
        "z": "2d54600e340a6970",
        "name": "Вывод 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 920,
        "y": 260,
        "wires": []
    },
    {
        "id": "80021a4fea52b957",
        "type": "inject",
        "z": "2d54600e340a6970",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 350,
        "y": 80,
        "wires": [
            [
                "bf81f0f7d78829f5"
            ]
        ]
    },
    {
        "id": "847e9dc9436f0594",
        "type": "inject",
        "z": "2d54600e340a6970",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 350,
        "y": 120,
        "wires": [
            [
                "bf81f0f7d78829f5"
            ]
        ]
    },
    {
        "id": "18e847ae434953f2",
        "type": "ST-Range",
        "z": "2d54600e340a6970",
        "device": "b696fd562f8909d6",
        "name": "Лампа",
        "transmit_input_message": false,
        "instance": "brightness",
        "unit": "unit.percent",
        "min": "0",
        "max": 100,
        "precision": "10",
        "retrievable": true,
        "x": 650,
        "y": 260,
        "wires": [
            [
                "deb4f46fbdae9c78"
            ]
        ]
    },
    {
        "id": "b08f063c11aefe9b",
        "type": "inject",
        "z": "2d54600e340a6970",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "10",
        "payloadType": "num",
        "x": 350,
        "y": 220,
        "wires": [
            [
                "18e847ae434953f2"
            ]
        ]
    },
    {
        "id": "64b67d70a3b0ceae",
        "type": "inject",
        "z": "2d54600e340a6970",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "50",
        "payloadType": "num",
        "x": 350,
        "y": 260,
        "wires": [
            [
                "18e847ae434953f2"
            ]
        ]
    },
    {
        "id": "17080f409faa2374",
        "type": "inject",
        "z": "2d54600e340a6970",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "100",
        "payloadType": "num",
        "x": 350,
        "y": 300,
        "wires": [
            [
                "18e847ae434953f2"
            ]
        ]
    },
    {
        "id": "ab4d54391fc90e56",
        "type": "ST-Color",
        "z": "2d54600e340a6970",
        "device": "b696fd562f8909d6",
        "name": "Лампа",
        "color_support": true,
        "scheme": "hsv",
        "retransmit_message": false,
        "temperature_k": false,
        "temperature_min": 2000,
        "temperature_max": 9000,
        "color_scene": [],
        "x": 670,
        "y": 420,
        "wires": [
            [
                "deb4f46fbdae9c78"
            ]
        ]
    },
    {
        "id": "cf4ca3ed13a6953d",
        "type": "inject",
        "z": "2d54600e340a6970",
        "name": "H = 150, S = 50, V = 70",
        "props": [
            {
                "p": "payload.h",
                "v": "150",
                "vt": "num"
            },
            {
                "p": "payload.s",
                "v": "50",
                "vt": "str"
            },
            {
                "p": "payload.v",
                "v": "70",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 400,
        "y": 380,
        "wires": [
            [
                "ab4d54391fc90e56"
            ]
        ]
    },
    {
        "id": "760870c412e8d2b0",
        "type": "inject",
        "z": "2d54600e340a6970",
        "name": "H = 50, S = 100, V = 100",
        "props": [
            {
                "p": "payload.h",
                "v": "50",
                "vt": "num"
            },
            {
                "p": "payload.s",
                "v": "100",
                "vt": "str"
            },
            {
                "p": "payload.v",
                "v": "100",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 410,
        "y": 420,
        "wires": [
            [
                "ab4d54391fc90e56"
            ]
        ]
    },
    {
        "id": "03ff6fc20e88e950",
        "type": "inject",
        "z": "2d54600e340a6970",
        "name": "H = 110, S = 30, V = 40",
        "props": [
            {
                "p": "payload.h",
                "v": "110",
                "vt": "num"
            },
            {
                "p": "payload.s",
                "v": "30",
                "vt": "str"
            },
            {
                "p": "payload.v",
                "v": "40",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 400,
        "y": 460,
        "wires": [
            [
                "ab4d54391fc90e56"
            ]
        ]
    },
    {
        "id": "fcf7991b64d85efd",
        "type": "ST-Toggle",
        "z": "2d54600e340a6970",
        "device": "dfed8c28872e0d46",
        "name": "ТВ",
        "instance": "backlight",
        "response": true,
        "x": 670,
        "y": 560,
        "wires": [
            [
                "0abda46fb296ef43"
            ]
        ]
    },
    {
        "id": "26b8dfe70f95c5e8",
        "type": "inject",
        "z": "2d54600e340a6970",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 350,
        "y": 540,
        "wires": [
            [
                "fcf7991b64d85efd"
            ]
        ]
    },
    {
        "id": "af3ca0cf41c16478",
        "type": "inject",
        "z": "2d54600e340a6970",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 350,
        "y": 580,
        "wires": [
            [
                "fcf7991b64d85efd"
            ]
        ]
    },
    {
        "id": "0abda46fb296ef43",
        "type": "debug",
        "z": "2d54600e340a6970",
        "name": "Вывод 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 920,
        "y": 560,
        "wires": []
    },
    {
        "id": "ce0f334bc2ba796b",
        "type": "ST-Mode",
        "z": "2d54600e340a6970",
        "device": "b2a05ac7a07c6fd7",
        "name": "Термостат",
        "instance": "thermostat",
        "modes": [
            "auto",
            "heat",
            "turbo"
        ],
        "response": true,
        "x": 640,
        "y": 700,
        "wires": [
            [
                "7a84c0e6b951f502"
            ]
        ]
    },
    {
        "id": "60569abf8b8315c3",
        "type": "inject",
        "z": "2d54600e340a6970",
        "name": "Auto",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "auto",
        "payloadType": "str",
        "x": 350,
        "y": 660,
        "wires": [
            [
                "ce0f334bc2ba796b"
            ]
        ]
    },
    {
        "id": "ec814b697a452a97",
        "type": "inject",
        "z": "2d54600e340a6970",
        "name": "Heat",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "heat",
        "payloadType": "str",
        "x": 350,
        "y": 700,
        "wires": [
            [
                "ce0f334bc2ba796b"
            ]
        ]
    },
    {
        "id": "767909ddb64dc3fe",
        "type": "inject",
        "z": "2d54600e340a6970",
        "name": "Turbo",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "turbo",
        "payloadType": "str",
        "x": 350,
        "y": 740,
        "wires": [
            [
                "ce0f334bc2ba796b"
            ]
        ]
    },
    {
        "id": "7a84c0e6b951f502",
        "type": "debug",
        "z": "2d54600e340a6970",
        "name": "Вывод 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 920,
        "y": 700,
        "wires": []
    },
    {
        "id": "bb76eef4be2f2ef5",
        "type": "ST-Sensor",
        "z": "2d54600e340a6970",
        "device": "f9d411795b1a56db",
        "name": "Датчик температуры:Temperature",
        "stype": "devices.properties.float",
        "instance": "temperature",
        "unit": "unit.temperature.celsius",
        "x": 600,
        "y": 880,
        "wires": []
    },
    {
        "id": "dd652b86b4b33475",
        "type": "inject",
        "z": "2d54600e340a6970",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "10",
        "payloadType": "num",
        "x": 350,
        "y": 840,
        "wires": [
            [
                "bb76eef4be2f2ef5"
            ]
        ]
    },
    {
        "id": "90e43e5e95e4dab5",
        "type": "inject",
        "z": "2d54600e340a6970",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "20",
        "payloadType": "num",
        "x": 350,
        "y": 880,
        "wires": [
            [
                "bb76eef4be2f2ef5"
            ]
        ]
    },
    {
        "id": "7d61282c29ca3694",
        "type": "inject",
        "z": "2d54600e340a6970",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "50",
        "payloadType": "num",
        "x": 350,
        "y": 920,
        "wires": [
            [
                "bb76eef4be2f2ef5"
            ]
        ]
    },
    {
        "id": "6ad38f8632653e34",
        "type": "ST-Event",
        "z": "2d54600e340a6970",
        "device": "f401d01ef5d3bd28",
        "name": "Водная дверь:open",
        "stype": "devices.properties.event",
        "instance": "open",
        "events": [
            "opened",
            "closed"
        ],
        "x": 640,
        "y": 1020,
        "wires": []
    },
    {
        "id": "2cfdd06af558c7d2",
        "type": "inject",
        "z": "2d54600e340a6970",
        "name": "Opened",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "opened",
        "payloadType": "str",
        "x": 350,
        "y": 1000,
        "wires": [
            [
                "6ad38f8632653e34"
            ]
        ]
    },
    {
        "id": "f490271fec29855b",
        "type": "inject",
        "z": "2d54600e340a6970",
        "name": "Closed",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "closed",
        "payloadType": "str",
        "x": 350,
        "y": 1040,
        "wires": [
            [
                "6ad38f8632653e34"
            ]
        ]
    },
    {
        "id": "b696fd562f8909d6",
        "type": "ST-device",
        "name": "Лампа",
        "description": "",
        "room": "Комната",
        "dtype": "devices.types.light.ceiling",
        "modeltype": "Light Ceiling",
        "cloud": "0959357e763a8342"
    },
    {
        "id": "dfed8c28872e0d46",
        "type": "ST-device",
        "name": "ТВ",
        "description": "",
        "room": "Комната",
        "dtype": "devices.types.media_device.tv",
        "modeltype": "LED Strip",
        "cloud": "0959357e763a8342"
    },
    {
        "id": "b2a05ac7a07c6fd7",
        "type": "ST-device",
        "name": "Термостат",
        "description": "",
        "room": "Комната",
        "dtype": "devices.types.thermostat",
        "modeltype": "Thermostat",
        "cloud": "0959357e763a8342"
    },
    {
        "id": "f9d411795b1a56db",
        "type": "ST-device",
        "name": "Датчик температуры",
        "description": "",
        "room": "Комната",
        "dtype": "devices.types.sensor.climate",
        "modeltype": "Sensor climate",
        "cloud": "0959357e763a8342"
    },
    {
        "id": "f401d01ef5d3bd28",
        "type": "ST-device",
        "name": "Водная дверь",
        "description": "",
        "room": "Комната",
        "dtype": "devices.types.sensor.open",
        "modeltype": "Sensor open",
        "cloud": "0959357e763a8342"
    },
    {
        "id": "0959357e763a8342",
        "type": "S-Tech-cloud",
        "name": "Cloud",
        "model": "1"
    }
]